refman.dvi
refman.html
refman.log
refman.pdf
refman.ps
tutorial.aux
tutorial.dvi
tutorial.html
tutorial.log
tutorial.pdf
tutorial.ps
tuto_proofs.dvi
tuto_proofs.html
tuto_proofs.log
tuto_proofs.pdf
tuto_proofs.ps
.done_copy_documentation
.done_copy_man_pages
focalizec.1
focalizedep.1
index.html
